/* Fonts */

@font-face {
	font-family: "West End Knights";
	src: url("../Fonts/West\ End\ Knights.otf");
}

@font-face {
	font-family: "Figure Things";
	src: url("../Fonts/Figure\ Things.otf");
}

/* Main */
html {
	font-family: "Figure Things", "Lucida Console", "Monaco", monospace;
	font-size: 20px;
	letter-spacing: 1px;
}

body {
	background-image: url("../Images/Background.png");
	background-attachment: fixed;
}

body[data-theme="stylus"] {
	background-image: url("../Images/Background_Stylus.png");
}

main > :not(hr, blockquote, .image-group, h1, h2, h3, h4, h5, h6), .keywords > * {
	background-color: rgb(0, 0, 58);
}

[data-theme="stylus"] > main > :not(hr, blockquote, .image-group, h1, h2, h3, h4, h5, h6), [data-theme="stylus"] .keywords > * {
	background-color: rgb(51.8% 29.9% 38.9%);
}

main, body > footer {
	margin-left: 10%;
}

main > :not(hr), footer > :not(.site-title){
	width: 90%;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	line-height: 1.5rem;
}

main > :not(hr), footer > :not(.site-title), header, nav {
	border-radius: 25px;
}

[data-theme="stylus"] > main > :not(hr), footer > :not(.site-title) {
	color: rgb(100% 96.8% 93.3%);
}

h1, h2, h3, h4, h5, h6 {
	background-color: black;
	font-family: "West End Knights", "Figure Things", "Lucida Console", "Monaco", monospace;
}

header, footer {
	text-align: center;
	color: white;
}

header {
	width: 10%;
	height: 100%;
	position: fixed;
	display: block;
	background-color: rgb(47, 1, 45);
}

[data-theme="stylus"] header {
	background-color: rgb(70, 108, 64);
}

a {
	color: rgb(245, 252, 158);
}

a:visited {
	color: rgb(248, 226, 122);
}

/* Navigation */
nav ul {
	list-style-type: none;
	display: block;
	justify-content: center;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

nav {
	height: 50%;
	padding-top: 10%;
}

nav li {
	margin-bottom: 10px;
}

nav a, nav a:visited {
	color: rgb(245, 252, 158);
	background: none;
	border: none;
	font: inherit;
	cursor: pointer;
}

/* Images (and Blockquotes) */
blockquote, .image-group {
	background-color: rgb(0, 52, 66);
}

[data-theme="stylus"] blockquote, [data-theme="stylus"] .image-group {
	background-color: rgb(35, 105, 132);
}

.image-group {
	display: flex;
	overflow: auto;
}

/* Code */
code, .credits {
	background-color: rgb(49, 49, 49);
}

/* Horizontal Rule */
hr {
	border: none;
	border-top-style: dotted;
	border-top-width: 9px;
	border-top-color: rgb(0, 0, 58);
	width: 80%;
}

[data-theme="stylus"] hr {
	border-top-color: rgb(132, 76, 99);
}

/* Horizontal image groups */
@media (min-aspect-ratio: 1.4){
	.image-group {
		scroll-snap-type: x mandatory;
	}

.image-group > figure {
	scroll-snap-align: center;
}
}

/* Vertical navigation for mobile */
@media (max-aspect-ratio: 1.4) {
	nav, header {
		width: 100%;
		height: auto;
		position: relative;
		padding-top: 0%;
	}

	main, body > footer {
		width: 100%;
		margin-left: 0;
	}
}