/* Fonts */

@font-face {
	font-family: "West End Knights";
	src: url("../Fonts/West\ End\ Knights.woff");
}

@font-face {
	font-family: "Figure Things";
	src: url("../Fonts/Figure\ Things.otf");
}

/* Main */
html {
	font-family: "Figure Things", "Lucida Console", "Monaco", monospace;
	font-size: 20px;
	letter-spacing: 1px;
}

body {
	background-image: url("../Images/Background.png");
	background-attachment: fixed;
}

main > :not(hr, blockquote, .image-group, h1, h2, h3, h4, h5, h6), .keywords > * {
	background-color: rgb(0, 0, 58);
}

main > :not(hr), header > :not(.site-title), footer > :not(.site-title){
	width: 80%;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	border-radius: 25px;
	line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
	background-color: black;
	font-family: "West End Knights", "Figure Things", "Lucida Console", "Monaco", monospace;
}

header, footer {
	text-align: center;
	color: white;
}

a {
	color: rgb(245, 252, 158);
}

a:visited {
	color: rgb(248, 226, 122);
}

/* Navigation */
nav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

nav {
	background-color: rgb(47, 1, 45);
}

nav li {
	margin: auto;
}

nav a, nav a:visited {
	color: rgb(245, 252, 158);
	background: none;
	border: none;
	font: inherit;
	cursor: pointer;
}

/* Images (and Blockquotes) */
blockquote, .image-group {
	background-color: rgb(0, 52, 66);
}

.image-group {
	display: flex;
	overflow: auto;
}

/* Code */
code, .credits {
	background-color: rgb(49, 49, 49);
}

/* Horizontal Rule */
hr {
	border: none;
	border-top: 3px dotted rgb(0, 0, 58);
	width: 80%;
}

/* Horizontal image groups */
@media (min-aspect-ratio: 1){
	.image-group {
		scroll-snap-type: x mandatory;
	}

.image-group > figure {
	scroll-snap-align: center;
}
}

/* Vertical navigation for mobile */
@media (max-aspect-ratio: 1) {
	nav ul {
		display: block;
	}
}